html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/main.css")
        title Document
    body
        .page
            .page__selector-section
                .container
                    .text
                        .text__subtitle our works
                        .text__title Amazing Projects
                    .filter-wrapper
                        ul.filter
                            li.filter__item
                                span.filter__btn All works
                            li.filter__item
                                span.filter__btn Photography
                            li.filter__item
                                span.filter__btn Web Design
                            li.filter__item
                                span.filter__btn Graphic Design
                            li.filter__item
                                span.filter__btn Branding
                            li.filter__item
                                span.filter__btn Consultants
                    .grid-wrapper
                        .selector-grid
                            .selector-grid__item
                                .grid-item
                                    .circle
                                        span.circle__lupa svg
                                    img.grid-item__img(src="./img/content/project1.jpg", alt="")
                            .selector-grid__item
                                .grid-item
                                    .circle
                                        span.circle__lupa svg
                                    img.grid-item__img(src="./img/content/project2.jpg", alt="")
                            .selector-grid__item
                                .grid-item
                                    .circle
                                        span.circle__lupa svg
                                    img.grid-item__img(src="./img/content/project3.jpg", alt="")
                            .selector-grid__item
                                .grid-item
                                    .circle
                                        span.circle__lupa svg
                                    img.grid-item__img(src="./img/content/project4.jpg", alt="")
                            .selector-grid__item
                                .grid-item
                                    .circle
                                        span.circle__lupa svg
                                    img.grid-item__img(src="./img/content/project5.jpg", alt="")
                            .selector-grid__item
                                .grid-item
                                    .circle
                                        span.circle__lupa svg
                                    img.grid-item__img(src="./img/content/project6.jpg", alt="")
                        
                        
                            